@use "components";

@mixin section-display {
    width: 100%;
    padding: 3rem;
    max-width: 990px;
    margin: auto;
}

html {
    min-width: 100vw;
}

body {
    padding: 0;
    margin: 0;
}

.nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 4rem;
    border-bottom: solid 1px #ddd;
    align-items: center;
}

.main-menu li a {
    font-size: 0.8rem;
}

.logo a img {
    max-width: 8rem;
}

.home-img img {
    max-width: 30rem;
}

.sec-home {
    display: flex;
    align-items: center;
    @include section-display();
    .home-cta {
        flex: 1;
        .cta-text {
            color: components.$color-main;
        }
        .home-title {
            width: 20rem;
            font-size: 3rem;
        }
        .home-description {
            color: gray;
            font-size: 1rem;
            font-weight: 100;
        }
    }
}

.sec-features {
    @include section-display();
   .intro {
    text-align: center;
   }

   p {
    color: #888;
   }
   .features {
       display: flex;
       gap: 1rem;
   }
   .text {
        max-width: 40%;
        padding: 2rem 0;
        flex: 1;
        .feature {
            display: flex;
            flex-direction: row;
            align-items: center;
            .description {
                max-width: 20rem;
                margin-left: 1rem;
                .description-title {
                    font-size: 1.25rem;
                }
                .description-text {
                    font-size: 1rem;
                }
            }
        }
   }
   .imagen img {
        max-width: 40rem;
   }
}

.sec-benefits {
    border-top: 1px solid #ddd;
    @extend .sec-features, .intro;

    .benefit-cards {
        width: 100%;
        padding: 0 2rem;
    }
}

.sec-kpis {
    text-align: center;
    width: 100%;
    background-color: components.$color-main;
    color: white;
    padding: 4rem;
}

.kapi {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.number {
    font-size: 3.5rem;
    font-weight: 600;
}

.sec-onboarding {
    .intro {
        padding-top: 8rem;
        text-align: center;
       }
    
       p {
        color: #888;
       }

       .steps {
        padding: 0 6rem;
        display: flex;
        align-items: center;
        justify-content: center;
       }

       .step-separator {
        flex: 1;
        border-top: 3px solid #ddd;
       }
}

.sec-footer-cta {
    background-color: components.$color-footer;
    margin-top: 5rem;
    padding: 5rem;
    background-image: url(../assets/img/cosmos.png);
    background-repeat: no-repeat;
    background-position: 100%;
    .footer-cta {
        width: 50%;
        .cta-title {
            font-size: 2rem;
        }
        .cta-description {
            font-size: 1rem
        }
    }
}

@media (max-width: 768px) {
    .sec-onboarding {
        .steps {
            flex-direction: column;
            .icon-desc {
                .title {
                    text-align: center;
                }
            }
        }
    }

    .sec-footer-cta {
        background-image: none;
        .footer-cta {
            width: 100%;
            text-align: center;
        }
    }

    .sec-benefits {
        .intro  {
            text-align: center;
            h3 {
                font-size: 2rem;
            } 
        }
    }

    .sec-features {
        p {
            font-size: 1rem;
        }
        h3 {
            font-size: 2rem;
        }
    }
}